* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "rokkittbold";
  src: url("fonts/rokkitt-bold-webfont.woff2") format("woff2"),
    url("fonts/rokkitt-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rokkittregular";
  src: url("fonts/rokkitt-regular-webfont.woff2") format("woff2"),
    url("fonts/rokkitt-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "rokkittregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.navbar {
  background-color: #711e92;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  .container .row {
    position: relative;
    justify-content: space-around;
  }
}

#nav {
  padding: 0 0 0 40px;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 20px;
    text-decoration: none;
    font-size: 20px;
  }
}

#nav a:hover,
#nav a:active,
#nav a:focus,
#nav a.active {
  background: #fff;
  color: #711e92;
}
.mobile-menu {
  display: none;
}
.container {
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
  margin: auto;
  .row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
  }
}
.navbar .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    max-width: 190px;
    width: 100%;
  }
}
.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50px;
    color: #711e92;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}
.banner-left {
  max-width: 50%;
  width: 100%;
  position: relative;
  text-align: center;
  h1 {
    position: absolute;
    top: 40%;
    z-index: 1;
    color: #fff;
    font-size: 4rem;
    width: 100%;
  }
  .solution-btn {
    bottom: 70px;
    position: absolute;
    z-index: 1;
    width: 100%;
    a {
      background-color: #711e92;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      padding: 10px 30px;
      font-family: "rokkittbold";
      font-size: 1.2rem;
      border-radius: 3px;
      transition: all 0.3s;
      &:hover {
        background-color: #fff;
        color: #711e92;
      }
    }
  }
  img {
    max-width: 100%;
  }
}
.banner-right {
  padding: 140px 0 157px;
  max-width: 50%;
  width: 100%;
  display: flex;
}
.banner-content {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#795198+0,582780+100 */
  background: #795198; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #795198 0%,
    #582780 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #795198 0%,
    #582780 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #795198 0%,
    #582780 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#795198', endColorstr='#582780',GradientType=1 ); /* IE6-9 */

  border-right: 25px solid #fcd647;
  padding: 65px 100px 100px;
  display: flex;

  flex-direction: column;
  text-align: right;
  .logo {
    position: relative;
    padding: 0 0 25px;
    margin: 0 0 25px;
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 70px;
      height: 5px;
      border-radius: 10px;
      background-color: #fff;
      content: "";
    }
    img {
      max-width: 240px;
      width: 100%;
    }
  }
  h1 {
    margin: 0;
    color: #fff;
    font-size: 3.4rem;
    line-height: 48px;
  }
}

.left-55 {
  max-width: 55%;
  width: 100%;
}
.right-45 {
  max-width: 45%;
  width: 100%;
}
.left-45 {
  max-width: 45%;
  width: 100%;
}
.right-55 {
  max-width: 55%;
  width: 100%;
}

.one-interface-left {
  padding: 50px;

  .title-h2 {
    padding: 0 0 20px;
    margin-bottom: 40px;
  }
  .verification-process-number {
    margin: 0 40px 0 0;
    &.last {
      color: #711e92;
      background-color: #fff;
      border: 4px solid #711e92;
      font-weight: bold;
    }
  }
  .three-veri {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 30px;
    h2 {
      font-size: 2rem;
      color: #711e92;
    }
  }
}
.three-veri-h4 {
  font-size: 1.6rem;
  color: #711e92;
}
.one-interface-right {
  position: relative;
  img {
    max-width: 100%;
  }
  .title-h4 {
    position: absolute;
    top: 150px;
    left: 20px;
    z-index: 1;
    color: #fff;
    font-size: 1.8rem;
    width: 35%;
  }
  .link-buttons {
    position: absolute;
    bottom: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    a {
      cursor: pointer;
      background-color: #fff;
      color: #711e92;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 0 10px;
      font-family: "rokkittbold";
      font-size: 1.2rem;
      transition: all 0.3s;
      border-radius: 0 3px 3px 0;
      &:hover {
        background-color: #711e92;
        color: #fff;
      }
    }
  }
  .violet-box {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    padding: 35px;
    content: "";
    background-color: #711e92;
  }
  .yellow-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    content: "";
    background-color: #fcd647;
  }
}

.solution-left {
  padding: 100px 50px 0;
}
.title-h2 {
  color: #711e92;
  position: relative;
  font-size: 3.3rem;
  padding: 0 0 25px;
  margin: 0 0 25px;
  line-height: 50px;
  span {
    display: block;
    font-size: 24px;
    font-weight: 400;
  }
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 5px;
    border-radius: 10px;
    background-color: #711e92;
    content: "";
  }
}
.title-h3 {
  color: #711e92;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}
.solution-ul {
  margin: 0;
  padding: 0 0 50px 20px;
  li {
    color: #711e92;
    font-size: 1.3rem;
    padding: 0 0 0 10px;

    line-height: 21px;
  }
}
.solution-right {
  img {
    max-width: 100%;
  }
}

.verification-left {
  img {
    max-width: 100%;
  }
}
.verification-right {
  padding: 120px 0 0 100px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .title-h2 {
    padding: 0 0 50px;
    line-height: 36px;
  }
}
.verification-number {
  position: absolute;
  z-index: 0;
  top: -130px;
  right: -130px;
  color: #f2f2f2;
  font-size: 500px;
  font-weight: bold;
}
.verification-ol {
  margin: 0;
  li {
    color: #711e92;
    font-size: 1.3rem;
    padding: 15px 0 15px 50px;
    line-height: 21px;
    position: relative;
    list-style: none;
    &:nth-child(n + 2) {
      width: 85%;
    }
    &:nth-child(4n),
    &:nth-child(5n) {
      background-color: #f2f2f2;
      width: 100%;
    }
    span {
      position: absolute;
      left: 0;
      font: bold 18px;
      text-align: center;
      color: #fff;
      line-height: 18px;
      width: 35px;
      height: 35px;
      background: #711e92;
      border-radius: 999px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}

#verification-solution .row,
#kento-ident .row {
  position: relative;
  overflow: hidden;
}
.verification-solution-number,
.kento-ident-number {
  color: #fff;
  font-size: 500px;
  bottom: -270px;
  left: 120px;
  font-weight: 800;
  position: absolute;
  z-index: 1;
}
.verification-solution-left,
.kento-ident-right {
  background-color: #0092ab;
  padding: 160px 120px 0 120px;
  h2 {
    font-size: 48px;
    color: #fff;
    line-height: 48px;
    margin: 20px 0 40px;
    width: 90%;
  }
  .play-btn {
    background-color: #fff;
    color: #0092ab;
    font-size: 24px;
    padding: 5px 60px 5px 30px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    span {
      font-size: 18px;
    }
  }
}
.kento-ident-right {
  background-color: #711e92;
  .play-btn {
    color: #711e92;
  }
}
.verification-solution-right,
.kento-ident-left {
  position: relative;
  img {
    max-width: 100%;
  }
  .verifeye-icon {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
    max-width: auto;
    height: 65px;
    width: auto;
  }
}

.verification-process-content {
  padding: 150px 120px;
  position: relative;
  .violet-box {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    padding: 35px;
    content: "";
    background-color: #711e92;
  }
  .yellow-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    content: "";
    background-color: #fcd647;
  }
  .title-h2 {
    width: 80%;
    line-height: 48px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}
.verification-process-blocks {
  display: flex;
  justify-content: space-between;
  .col-md-4 {
    width: 25%;
    .title-h4 {
      width: 50%;
    }
  }
}
.verification-process-number {
  display: flex;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  background-color: #711e92;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
  margin-bottom: 30px;
}
.title-h4 {
  font-size: 2.5rem;
  color: #711e92;
  line-height: 32px;
  margin: 0;
  padding: 0 0 25px;
  width: 95%;
  &.german {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;
    hyphens: auto;
  }
}
.verification-process-para {
  font-size: 1.2rem;
  color: #711e92;
  width: 85%;
  line-height: 20px;
  padding: 0 0 20px;
  &.last {
    width: 100%;
  }
  &.german {
    width: 90%;
  }
}

.document-validation-left {
  padding: 170px 70px 0 70px;
  .title-h2 {
    width: 60%;
  }
}
.title-h5 {
  font-size: 1.2rem;
  color: #711e92;
  width: 67%;
  margin: 0;
  padding: 50px 0 60px;
}

.document-validation-ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  li {
    border: 2px solid #711e92;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    font-size: 1rem;
    color: #711e92;

    text-align: center;
    font-size: 1.2rem;
    line-height: 18px;
    padding: 0 15px;
  }
  &.german li {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;
    hyphens: auto;
  }
}
.document-validation-right {
  position: relative;
  img {
    max-width: 100%;
  }
  .verifeye-icon {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
    max-width: auto;
    height: 65px;
    width: auto;
  }
}
.result {
  border: 3px solid #fff;
  padding: 35px;
  position: absolute;
  bottom: 100px;
  left: 70px;
  right: 70px;
  z-index: 1;
  color: #fff;
  font-size: 1.4rem;
  line-height: 22px;
  h3 {
    font-size: 2.2rem;
    margin: 0;
    padding: 0 0 20px;
  }
}

.validation-security-features-left {
  max-width: 70%;
  width: 100%;
  padding: 140px 70px 0;
  .title-h2 {
    width: 50%;
  }
  .title-h5 {
    padding: 20px 0 60px;
  }
}
.validation-security-features-right {
  max-width: 30%;
  width: 100%;
  img {
    max-width: 100%;
  }
}
.validation-security-features-bottom {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  img {
    max-width: 100%;
    height: auto;
  }
}

.clear-dashboard-left {
  padding: 140px 70px 0;
  .title-h2 {
    width: 50%;
  }
}
#clear-dashboard {
  .row {
    position: relative;
  }
  .dashboard {
    position: absolute;
    bottom: 0;
    left: 70px;
    z-index: 5;
    right: 70px;
    width: 100%;
    max-width: 960px;
  }
}
.clear-dashboard-right {
  background-color: #0092ab;
  position: relative;
  z-index: 0;
  min-height: 840px;
  .verifeye-icon {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
    max-width: auto;
    height: 65px;
    width: auto;
  }
}

.save-data-left {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.german .title-h2 {
    width: 60%;
  }
  .title-h2 {
    width: 50%;
  }
  &.inner-page {
    .title-h2 {
      width: auto;
    }
  }
  .title-h5 {
    width: 70%;
    padding: 25px 0 0;
  }
}
.save-data-right {
  img {
    max-width: 100%;
    width: 100%;
  }
}

.advance-check-left {
  width: 100%;
  max-width: 80%;
  padding: 150px 0 0;
  .title-h2 {
    width: 34%;
    margin: 0 0 25px 100px;
  }
}
.advance-check-right {
  width: 100%;
  max-width: 20%;
  background-color: #711e92;
  position: relative;
  .verifeye-icon {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
    max-width: auto;
    height: 65px;
    width: auto;
  }
  .white-box {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 35px;
    content: "";
    background-color: #fff;
  }
  .yellow-box {
    position: absolute;
    bottom: 70px;
    right: 70px;
    z-index: 1;
    padding: 20px;
    content: "";
    background-color: #fcd647;
  }
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.advance-check-blocks {
  display: flex;
  padding: 30px 0 0;
}
.block-40 {
  padding: 50px 100px 100px;
}
.AML-checks {
  background-color: #f2f2f2;
}
.advance-check-ul {
  padding: 0 0 0 20px;
  margin: 0;
  li {
    font-size: 1.2rem;
    color: #711e92;
    padding: 0 0 0 30px;
  }
}

.innovative-product-features {
  padding: 150px 100px;
  position: relative;
  width: 100%;
  .title-h2 {
    width: 35%;
  }
  .violet-box {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    padding: 35px;
    content: "";
    background-color: #711e92;
  }
  .yellow-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    content: "";
    background-color: #fcd647;
  }
}
.innovative-product-features-ul {
  padding: 20px 0 0;
  margin: 0;

  li {
    display: inline-block;
    width: 46%;
    max-width: 100%;
    color: #711e92;
    font-size: 1.2rem;
    padding: 3px 0 15px 40px;
    position: relative;
    vertical-align: top;
    span {
      width: 30px;
      height: 30px;
      padding: 7px 8px;
      font-size: 1rem;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid #711e92;
      margin: 0 5px 0 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.online-gaming-left {
  padding: 150px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title-h5 {
    width: 75%;
  }
  .title-h2 {
    width: 80%;
  }
}
.online-gaming-right {
  position: relative;
  .result {
    bottom: auto;
    top: 150px;
    padding: 50px 35px;
    left: 80px;
    right: 80px;
  }
  img {
    max-width: 100%;
  }
  .verifeye-icon {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
    max-width: auto;
    height: 65px;
    width: auto;
  }
}
.online-gaming-right-ul {
  margin: 0;
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 120px;
  li {
    font-size: 1.2rem;
    color: #fff;
    list-style: none;
    padding: 0 0 10px;
  }
}

.who-we-are-right {
  padding: 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title-h2 {
    width: 30%;
  }
}
.who-we-are-left,
.contact-top-right {
  img {
    width: 100%;
    max-width: 100%;
  }
}

#contact .title-h2 {
  padding-top: 70px;
}
.contact-top {
  width: 100%;
  padding: 50px 0;
  display: flex;
  .col-md-4 {
    width: 33.33%;
    padding: 0 15px;
    flex: 1;
  }
  .title-h4 {
    padding-bottom: 35px;
  }
  .title-h5 {
    padding: 0;
    width: auto;
    line-height: 1.8rem;
    a {
      color: #711e92;
      font-weight: bold;
    }
  }
}
.contact-ul {
  padding: 0 0 15px;
  margin: 0;
  li {
    list-style: none;
    padding: 0 0 10px;
    a {
      color: #711e92;
      font-size: 1.2rem;
      text-decoration: none;
    }
  }
}
.contact-top-right {
  background-color: #711e92;
  width: 100%;
  max-width: 30%;
  position: relative;
  .logo {
    position: absolute;
    bottom: 80px;
    right: 50px;
    img {
      max-width: 150px;
      width: 100%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    right: 50px;
    bottom: 40px;
    li {
      list-style: none;
      padding: 0 0 0 15px;
    }
  }
}
.text-center {
  text-align: center;
}
.width-100 {
  width: 100%;
  .title-h2 {
    display: inline;
    margin: 0;
    padding: 30px 0 0;
    &::after {
      display: none;
    }
  }
  .title-h5 {
    width: auto;
    padding: 15px 0 50px;
  }
}
.contact-bottom {
  display: flex;
  padding: 0 0 30px;
  .col-md-4 {
    width: 33.33%;
    padding: 0 15px;
    flex: 1;
  }
}

.solution-right,
.verification-left,
.verification-solution-right,
.kento-ident-left,
.document-validation-right,
.validation-security-features-right,
.save-data-right,
.online-gaming-right,
.who-we-are-right,
.banner-left {
  display: flex;
  flex-direction: column;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0 15px 15px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close,
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
}
.video,
.video2 {
  margin: 10px 0;
  width: 100%;
  height: 100%;
}

.hide {
  max-height: 0 !important;
}

.dropdown {
  background-color: #711e92;
}

.english-flag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 35px;
    border-radius: 50%;
  }
}

.dropdown .title {
  display: flex;
  width: 100%;
  color: #fff;
  align-items: center;
  span {
    padding-left: 7px;
  }
  .fa {
    padding-left: 5px;
    transition: transform 0.3s;
  }
}

.dropdown .menu {
  transition: max-height 0.5s ease-out;
  max-height: 20em;
  overflow: hidden;
  .option {
    padding: 15px 0 10px;
    a {
      color: #fff;
      display: flex;
      align-items: center;
      text-decoration: none;
      span {
        padding-left: 7px;
      }
    }
  }
}

.pointerCursor:hover {
  cursor: pointer;
}

.toggle {
  font-size: 30px;
  color: #fff;
  text-align: right;
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #711e92;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
  }
}
#banner,
.features-page,
.about-page,
.solution-page {
  padding: 79px 0 0;
}
#our-modular {
  padding: 100px 0;
  .container .row {
    flex-direction: column;
  }
  .title-h2::after {
    display: none;
  }
}
.our-modular-img {
  img {
    width: 100%;
    max-width: 100%;
  }
}
#ident-boxes {
  padding-bottom: 100px;
  .col-md-4 {
    padding: 35px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #711e92;
    width: 33.33%;
    color: #fff;
    align-items: center;
    border-right: 1px solid #fff;
    transition: 0.5s;
    &:last-child {
      border: none;
    }
    .title-h3 {
      color: #fff;
      transition-duration: 1000ms;
    }
    p {
      padding: 15px 0;
      line-height: 1.4rem;
      transition-duration: 1000ms;
    }
    .click-here {
      color: #fff;
      border: 1px solid #fff;
      padding: 12px 24px;
      text-decoration: none;
      transition-duration: 1000ms;
    }
    &:hover {
      .title-h3,
      p,
      .click-here {
        transform: scale(1.1);
      }
    }
  }
}
.auto-ident-page,
.konto-ident-page,
.video-ident-page {
  background-image: url(../images/auto-ident.jpg);
  background-size: 1170px auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 69px 0 0;
  .white-bg {
    background-color: #fff;
    padding: 60px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 150px 0 0;
    .title-h5 {
      padding: 30px 0 0;
      width: auto;
    }
    .innovative-product-features-ul li {
      width: 100%;
    }
  }
}
.konto-ident-page {
  background-image: url(../images/konto-ident.jpg);
}
.video-ident-page {
  background-image: url(../images/video-ident.jpg);
}
.width-flex {
  display: flex;
  flex-direction: row;
  .mobile-left {
    width: 60%;
    .title-h4 {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
  .mobile-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 400px;
    }
  }
}
.clearfix {
  clear: both;
  height: 1px;
  display: block;
  width: 100%;
  content: "";
}

/* Responsive Media Queries */

/* For Ipad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #nav a {
    padding: 20px 12px;
  }
  #nav,
  .solution-ul li br,
  .contact-header {
    display: none;
  }
  .navbar {
    .container .row {
      flex-direction: row;
      justify-content: space-between;
    }
    .logo {
      align-self: flex-start;
      padding: 15px 15px 8px;
      display: inline;
      order: 1;
      img {
        max-width: 140px;
      }
    }
  }
  .english-flag {
    order: 2;
    right: 55px;
  }
  .dropdown {
    .menu {
      padding: 0 0 0 10px;
    }
  }
  .mobile-menu {
    display: inline-block;
    align-self: flex-end;
    padding: 15px 15px 10px;
    order: 3;
  }
  .solution-ul {
    padding-bottom: 30px;
  }
  .banner-content {
    padding: 65px 50px 80px;
    h1 {
      font-size: 2.5rem;
    }
    .logo img {
      width: 200px;
    }
  }
  .banner-right {
    padding: 125px 0 140px;
  }
  .solution-left,
  .verification-right,
  .verification-solution-left,
  .verification-process-content,
  .document-validation-left,
  .validation-security-features-left,
  .save-data-left,
  .advance-check-left,
  .innovative-product-features,
  .online-gaming-left,
  .who-we-are-right,
  .contact-top-left,
  .kento-ident-right {
    padding: 80px 30px 30px;
  }
  .solution-right img,
  .verification-left img,
  .verification-solution-right img,
  .document-validation-right img,
  .validation-security-features-right img,
  .save-data-right img,
  .online-gaming-right img,
  .who-we-are-left img,
  .banner-left img,
  .one-interface-right img {
    height: 100%;
    width: 100%;
  }
  .one-interface-left .three-veri h2 {
    width: 60%;
  }
  .verification-right .title-h2 {
    padding: 0 0 30px;
  }
  .verification-ol li:nth-child(n + 2),
  .verification-solution-left h2 {
    width: auto;
  }
  .verification-solution-left.german h2 {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;
    hyphens: auto;
  }
  .verification-solution-number,
  .kento-ident-number {
    font-size: 400px;
    bottom: -220px;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .verification-process-blocks .col-md-4 {
    width: 30%;
  }
  .document-validation-ul {
    width: 100%;
  }
  .result {
    left: 30px;
    right: 30px;
  }
  .validation-security-features-left {
    max-width: 60%;
    padding-bottom: 0;
  }
  .validation-security-features-right {
    max-width: 40%;
  }
  #clear-dashboard .dashboard {
    left: 0;
    right: 0;
  }
  .save-data-left,
  .save-data-left.german {
    .title-h2 {
      width: 100%;
    }
  }
  .advance-check-left {
    padding-left: 0;
    .title-h2 {
      width: 80%;
      margin-left: 30px;
    }
  }
  .block-40 {
    padding: 40px;
  }
  .advance-check-ul li {
    padding: 0 0 0 15px;
  }
  .innovative-product-features .title-h2 {
    padding-top: 100px;
  }
  .innovative-product-features-ul li {
    width: 48%;
  }
  .online-gaming-right {
    background-color: #711e92;
    padding-bottom: 200px;
    .result {
      top: 130px;
      left: 30px;
      right: 30px;
      padding: 25px;
    }
  }
  .online-gaming-right-ul {
    left: 60px;
  }
  .who-we-are-right {
    .title-h2 {
      width: 80%;
    }
    .title-h5 {
      width: 80%;
      padding: 20px 0;
    }
  }
  .contact-top-left {
    padding: 30px 30px 0 30px;
    .title-h5 {
      padding: 20px 0;
    }
  }
  .contact-top-right {
    .logo,
    ul {
      right: 30px;
    }
  }
  .contact-top {
    padding: 80px 15px 60px 15px;
    .title-h2 {
      width: 70%;
    }
    .title-h5 {
      padding-top: 10px;
    }
  }
  .contact-list {
    padding: 20px 0 0;
    width: 100%;
    flex-direction: column;
    div {
      padding-bottom: 30px;
    }
  }
  .modal-content {
    width: 85%;
  }
  .verification-process-para.german {
    min-height: 100px;
  }
  #banner,
  .features-page,
  .about-page,
  .solution-page {
    padding: 60px 0 0;
  }
  .auto-ident-page,
  .konto-ident-page,
  .video-ident-page {
    margin: 60px 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1112px) and (orientation: landscape) {
  .solution-ul li br {
    display: none;
  }
  .solution-ul {
    padding-bottom: 30px;
  }
  .banner-content {
    padding: 65px 70px 80px;
    h1 {
      font-size: 3rem;
    }
  }
  .banner-right {
    padding: 123px 0 137px;
  }
  .solution-left,
  .verification-right,
  .verification-solution-left,
  .verification-process-content,
  .document-validation-left,
  .validation-security-features-left,
  .save-data-left,
  .advance-check-left,
  .innovative-product-features,
  .online-gaming-left,
  .who-we-are-right,
  .contact-top-left {
    padding: 80px 50px 30px;
  }
  .solution-right img,
  .verification-left img,
  .verification-solution-right img,
  .document-validation-right img,
  .validation-security-features-right img,
  .save-data-right img,
  .online-gaming-right img,
  .who-we-are-left img,
  .banner-left img {
    height: 100%;
  }
  .one-interface-left .three-veri h2 {
    width: 60%;
  }
  #clear-dashboard .dashboard {
    left: 0;
    right: 0;
  }
  .verification-right .title-h2 {
    padding: 0 0 30px;
    margin: 0;
  }
  .verification-solution-left.german h2 {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;
    hyphens: auto;
  }
  .verification-solution-number,
  .kento-ident-number {
    font-size: 400px;
    bottom: -220px;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .verification-process-blocks .col-md-4 {
    width: 30%;
  }
  .title-h5 {
    padding: 10px 0 25px;
  }
  .document-validation-ul {
    padding: 0 0 20px;
    li {
      height: 100px;
      width: 100px;
    }
  }
  .document-validation-left {
    padding-bottom: 0;
  }
  .validation-security-features-left {
    .title-h5 {
      padding-bottom: 0;
    }
    .title-h2 {
      width: 100%;
    }
  }
  .save-data-left .title-h2,
  .who-we-are-right .title-h2,
  .save-data-left.german .title-h2 {
    width: 100%;
  }
  .advance-check-left {
    padding-left: 0;
    .title-h2 {
      width: 80%;
      margin-left: 50px;
    }
  }
  .block-40 {
    padding: 40px;
    .title-h4 {
      font-size: 2rem;
    }
  }
  .advance-check-ul li {
    padding-left: 15px;
  }
  .innovative-product-features .title-h2 {
    padding-top: 100px;
  }
  .innovative-product-features-ul li {
    width: 48%;
  }
  .online-gaming-right {
    background-color: #711e92;
    padding-bottom: 200px;
    .result {
      top: 130px;
      left: 30px;
      right: 30px;
      padding: 25px;
    }
  }
  .online-gaming-right-ul {
    left: 60px;
  }
  .contact-top-left {
    padding-bottom: 0;
    .title-h5 {
      padding: 20px 0;
    }
  }
  .contact-list {
    padding: 40px 0 0;
    width: 100%;
  }
  .contact-top {
    padding-left: 50px;
    .title-h2 {
      width: 60%;
    }
  }
  .who-we-are-right {
    padding-bottom: 0;
  }
  .contact-top-left .title-h5 {
    width: 55%;
  }
  .verification-solution-left {
    height: 715px;
  }
  .modal-content {
    width: 85%;
  }
  .verification-process-para {
    min-height: 80px;
  }
}

@media only screen and (max-width: 767px) {
  #nav,
  .solution-ul li br,
  .contact-header {
    display: none;
  }

  .navbar {
    .container .row {
      flex-direction: row;
      justify-content: space-between;
    }
    .logo {
      align-self: flex-start;
      padding: 15px 15px 8px;
      display: inline;
      order: 1;
      img {
        max-width: 140px;
      }
    }
  }
  .english-flag {
    order: 2;
    right: 55px;
  }
  .dropdown {
    .menu {
      padding: 0 0 0 10px;
    }
  }
  .mobile-menu {
    display: inline-block;
    align-self: flex-end;
    padding: 15px 15px 10px;
    order: 3;
  }
  .banner-left {
    h1 {
      font-size: 3rem;
      top: 30%;
    }
    .solution-btn {
      bottom: 35px;
    }
  }
  .one-interface-right {
    .title-h4 {
      top: 80px;
    }
    .link-buttons {
      bottom: 50px;
    }
  }
  .container .row {
    flex-direction: column;
  }
  .banner-left,
  .banner-right,
  .left-55,
  .left-45,
  .right-45,
  .right-55 {
    max-width: none;
  }
  .banner-right {
    padding: 0;
  }
  .banner-content {
    padding: 40px 50px 50px 30px;
    h1 {
      font-size: 2rem;
      line-height: 36px;
    }
  }
  .solution-left,
  .verification-right,
  .verification-solution-left,
  .verification-process-content,
  .document-validation-left,
  .validation-security-features-left,
  .clear-dashboard-left,
  .save-data-left,
  .advance-check-left,
  .innovative-product-features,
  .online-gaming-left,
  .who-we-are-right,
  .contact-top-left,
  .one-interface-left,
  .kento-ident-right {
    padding: 80px 30px 30px 30px;
    max-width: none;
    .title-h2 {
      padding: 0 0 25px;
      width: 100%;
    }
  }
  .verification-process-content.german .title-h2 {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;
    hyphens: auto;
  }

  .title-h2 {
    font-size: 2.4rem;
    line-height: 36px !important;
  }
  .title-h3 {
    font-size: 2rem;
  }
  .verification-ol {
    padding: 20px 0;
  }
  .verification-ol li:nth-child(n + 2) {
    width: auto;
  }
  .verification-solution-left {
    padding-bottom: 50px;
    &.german h2 {
      -ms-word-break: break-all;
      word-break: break-all;

      /* Non standard for WebKit */
      word-break: break-word;
      hyphens: auto;
    }
  }
  .kento-ident-right {
    padding-bottom: 150px;
  }
  .verification-solution-number,
  .kento-ident-number {
    font-size: 180px;
    bottom: -100px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
  }
  .verification-process-blocks {
    flex-direction: column;
    width: 100%;
    .col-md-4 {
      width: 100%;
      padding: 0 0 30px;
    }
  }
  .title-h4 {
    padding: 0 0 15px;
  }
  .title-h5 {
    padding: 10px 0 25px;
  }
  .document-validation-ul {
    padding: 0 0 20px;
    width: 100%;
    li {
      height: 80px;
      width: 80px;
      font-size: 1.1rem;
    }
  }
  .result {
    left: 30px;
    right: 30px;
    bottom: 40px;
    &.german p {
      -ms-word-break: break-all;
      word-break: break-all;

      /* Non standard for WebKit */
      word-break: break-word;
      hyphens: auto;
    }
  }
  .validation-security-features-left .title-h5 {
    width: 100%;
    padding: 10px 0;
  }
  .validation-security-features-right,
  .save-data-left .title-h5,
  .who-we-are-right .title-h5,
  .contact-top,
  .contact-top-right {
    max-width: none;
    width: 100%;
  }
  .clear-dashboard-right {
    min-height: auto;
    padding: 0 0 100%;
  }
  #clear-dashboard .dashboard {
    left: 0;
    right: 0;
  }
  .advance-check-left .title-h2 {
    margin: 0 0 20px;
  }
  .advance-check-blocks {
    flex-direction: column;
  }
  .block-40 {
    padding: 30px 20px;
    .title-h4 {
      font-size: 1.8rem;
    }
  }
  .advance-check-right {
    display: none;
  }
  .advance-check-ul li {
    padding: 0 0 0 10px;
  }
  .innovative-product-features,
  .verification-process-content {
    .title-h2 {
      padding-top: 65px;
    }
  }
  .one-interface-left {
    .three-veri h2 {
      font-size: 1.4rem;
      width: 70%;
    }
    .three-veri-h4 {
      font-size: 1.2rem;
    }
    .verification-process-number {
      margin: 0 20px 0 0;
      width: 60px;
      height: 60px;
    }
  }
  .innovative-product-features-ul li {
    width: 100%;
  }
  .online-gaming-right {
    background-color: #711e92;
    padding-bottom: 200px;
    .result {
      top: 130px;
      left: 30px;
      right: 30px;
      padding: 25px;
    }
  }
  .online-gaming-right-ul {
    left: 60px;
    bottom: 30px;
  }
  .contact-list {
    padding: 0;
    flex-direction: column;
    div {
      padding: 0 0 25px;
    }
  }
  .contact-top {
    padding: 30px 15px;
    flex-direction: column;
    .col-md-4 {
      width: 100%;
      flex: none;
    }
    .title-h5 {
      width: auto;
    }
  }
  .contact-top-right {
    height: 100px;
    margin: 30px 0 0;
    .logo {
      bottom: 30px;
      left: 30px;
    }
    ul {
      right: 30px;
      bottom: 30px;
    }
  }
  .modal-content {
    width: 90%;
  }
  #contact .title-h2 {
    padding-top: 30px;
  }
  .contact-bottom {
    padding: 0 15px;
    flex-direction: column;
    .col-md-4 {
      width: 100%;
      flex: none;
    }
  }
  #banner,
  .features-page,
  .about-page,
  .solution-page {
    padding: 60px 0 0;
  }
  .auto-ident-page,
  .konto-ident-page,
  .video-ident-page {
    margin: 60px 0 0;
  }
  .auto-ident-page .white-bg,
  .konto-ident-page .white-bg,
  .video-ident-page .white-bg {
    padding: 30px;
    margin-top: 70px;
  }
  .width-flex {
    flex-direction: column;
    .mobile-left,
    .mobile-img {
      width: 100%;
    }
  }
  #our-modular {
    padding: 50px 0;
  }
  #ident-boxes .col-md-4 {
    min-height: auto;
    width: 100%;
    border-bottom: 1px solid #fff;
    border-right: none;
  }
  #ident-boxes {
    padding-bottom: 50px;
  }
}
